<div id="<%= dom_id article %>" class="border rounded border-black my-3 w-3/12 p-4">
  <h2 class="my-5 font-bold text-center">
    <%= article.title %>
  </h2>

  <p class="my-5">
    <%= article.text %>
  </p>
</div>
