<div id="charts">
  <div>
    <h3 class="font-bold">The hottest searches: </h3>
    <%= bar_chart top_global_searches %>
  </div>
  <div>
    <h3 class="font-bold">Your hottest searches: </h3>
    <%= pie_chart top_user_searches, legend: 'bottom' %>
  </div>
</div>